@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  transition: 0.2s;
  color: azure;
}

body {
  background-color: azure;
  font-family: "Montserrat", sans-serif;
}

div#main-container {
  width: 300px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  letter-spacing: 2;
}
div#main-container * {
  width: 100%;
  color: azure;
}
div#main-container form {
  display: flex;
  background-color: rgb(26, 36, 33);
}
div#main-container form input {
  padding: 30px 20px;
  background-color: rgb(26, 36, 33);
  border: none;
  border-radius: 0 !important;
  outline: none;
}
div#main-container form input:focus {
  background-color: #2f423c;
}
div#main-container form button {
  font-size: 0.8rem;
  width: 24%;
}
div#main-container div#current-image-container {
  height: 300px;
  padding: 0 !important;
}
div#main-container div#current-image-container img {
  pointer-events: none;
  max-height: 300px;
}
div#main-container button {
  width: 100%;
  padding: 10px;
  font-size: 0.8rem;
  margin: 0 !important;
  border: none !important;
  outline: none !important;
  cursor: pointer;
  background-color: rgb(60, 52, 31);
  color: #c88937;
  font-weight: 600;
}
div#main-container button:hover {
  background-color: #5e5130;
}
div#main-container button#add-random-image-to-collection-button {
  background-color: rgb(0, 73, 83);
}
div#main-container button#add-random-image-to-collection-button:hover {
  background-color: #007686;
}
div#main-container button#add-random-image-to-collection-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
@media (min-width: 768px) {
  div#main-container {
    width: 500px;
  }
  div#main-container div#current-image-container {
    padding: 0 100px;
    background-color: rgb(26, 36, 33);
  }
}

p#current-user-identifier {
  width: 200px;
  margin: 0 auto 20px auto;
  color: rgb(60, 52, 31);
  font-family: "Playwrite IT Moderna", cursive;
  font-weight: 900;
}

div#current-user-image-collection-container {
  width: 80vw;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}
div#current-user-image-collection-container img {
  max-width: 60px;
  height: auto;
  box-shadow: rgb(51, 54, 69) 2px 2px 2px, azure 2px 2px 2px 2px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
div#current-user-image-collection-container img:hover {
  transform: scale(1.5);
}
@media (min-width: 480px) {
  div#current-user-image-collection-container {
    width: 70vw;
  }
  div#current-user-image-collection-container img {
    max-width: 80px;
  }
  div#current-user-image-collection-container img:hover {
    transform: scale(1.3);
  }
}
@media (min-width: 768px) {
  div#current-user-image-collection-container {
    width: 60vw;
  }
  div#current-user-image-collection-container img {
    max-width: 100px;
  }
  div#current-user-image-collection-container img:hover {
    transform: scale(1.4);
  }
}

/*# sourceMappingURL=application.css.map */
