html{overflow-x: hidden;}
*{box-sizing: border-box; transition: .2s; color: azure;}
body{
    background-color: azure;
    font-family: "Roboto Condensed", sans-serif;
}
div#main-container{
    width: 300px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    letter-spacing: 2;
    *{
        width: 100%; 
        color: azure;
    }
    form{
        display: flex;
        input{
            padding: 30px 20px; 
            background-color: rgb(26,36,33);
            border: none;
            outline: none;
            &:focus{
                background-color: lighten(rgb(26,36,33), 10%);
            }
        }
        button{
            font-size: .8rem;
            width: 24%;
        }
    }
    div#current-image-container{
        height: 300px;
        img{
            max-height: 300px;
        }
    }
    button{
        width: 100%;
        padding: 10px;
        font-size: .8rem;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: rgb(60,52,31);
            &:hover{
                background-color: lighten(rgb(60,52,31), 10%);
            }
        &#add-random-image-to-collection-button{
            
            background-color: rgb(0,73,83);
            &:hover{
                background-color: lighten(rgb(0,73,83), 10%);
            }
            &:disabled{
                opacity: 0.6;
                cursor: not-allowed;
            }
        }
    }
    @media (min-width: 768px) {
        width: 500px;
        div#current-image-container{
            padding: 0 100px;
            background-color:rgb(26,36,33);
        }
    }
}
p#current-user-identifier{
    width: 200px;
    margin: 0 auto 20px auto;
    text-decoration: underline solid 2px;
    color: black;
    font-family: "Playwrite IT Moderna", cursive;
}
div#current-user-image-collection-container{
    width:80vw;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    img{
        max-width: 60px;
        height: auto;
        box-shadow: black 2px 2px 2px,
            azure 2px 2px 2px 2px;       
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        &:hover{
            transform: scale(1.5);
        }
    }
    @media (min-width: 480px){
        width: 70vw;
        img{
            max-width: 80px;
            &:hover{
                transform: scale(1.3);
            }
        }
    }
    @media (min-width: 768px){
        width: 60vw;
        img{
            max-width: 100px;
            &:hover{
                transform: scale(1.4);
            }
        }
    }
}