@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{overflow-x: hidden;}
*{box-sizing: border-box; transition: .2s; color: azure;}
body{
    background-color: azure;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    div.warning-message{
        display: none;
        width: 100%;
        margin: auto;
        padding: 10px 20px;
        //bulma danger
        background-color: hsl(348, 100%, 61%);
        transition: 1s;
        @media (min-width: 576px){
            width: 500px;
        }
        p{
            color: azure;
            font-size: .8rem;
            font-weight: 300;
            letter-spacing: 1.2;
            line-height: 1.25rem;
            span.warning-lead-sentence{
                display: inline-block;
                margin-bottom: .5rem;
                padding: 5px;
                background-color: azure;
                color: hsl(348, 100%, 61%);
                font-weight: 600;
            }
        }
    }
    div#main-container{
        width: 300px;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        letter-spacing: 2;
        *{
            width: 100%; 
            color: azure;
        }
        form{
            display: flex;
            background-color: rgb(26,36,33);
            padding: 0 !important;
            input{
                padding: 20px; 
                background-color: lighten(rgb(26,36,33), 10%);
                border: solid rgb(0,73,83) 1rem ;
                border-right: none;
                border-radius: 0 !important;
                outline: none;
            }
            button{
                font-size: .8rem;
                width: 24.5%;
            }
        }
        div#current-image-container{
            height: 300px;
            img{
                pointer-events: none;
                max-height: 300px;
            }
        }
        button{
            width: 100%;
            padding: 10px;
            font-size: .8rem;
            margin: 0 !important;
            border: none !important;
            outline: none !important;
            cursor: pointer;
            background-color: rgb(60,52,31);
            color: darken(burlywood, 20%);
            font-weight: 600;
                &:hover{
                    background-color: lighten(rgb(60,52,31), 10%);
                    color: rgb(231, 218, 193);
                }
            &#add-random-image-to-collection-button{
                background-color: rgb(0,73,83);
                &:hover{
                    background-color: lighten(rgb(0,73,83), 10%);
                }
                &:disabled{
                    opacity: 0.6;
                    cursor: not-allowed;
                }
            }
        }
        @media (min-width: 768px) {
            width: 500px;
            div#current-image-container{
                padding: 0 100px;
                background-color:rgb(26,36,33);
            }
        }
    }
    select#current-user{
        width: 300px;
        height: 2rem;
        margin: -20px auto 20px auto;
        padding: 1rem 0;
        background-color: rgb(60,52,31);
        color: darken(burlywood, 20%);
        border: solid rgb(0,73,83) .5rem ;
        option{
            color: darken(burlywood, 20%);
            font-family: "Playwrite IT Moderna", cursive;
            font-weight: 900;
        }
        @media (min-width: 576px){
            width: 400px;
        }
    }
    p#current-user-identifier{
        width: 300px;
        margin: 10px auto;
        color: rgb(60,52,31);
        font-family: "Playwrite IT Moderna", cursive;
        font-weight: 900;
        text-align: center;
    }
    div#current-user-image-collection-container{
        width:80vw;
        margin: auto;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-evenly;
        img{
            max-width: 60px;
            height: auto;
            box-shadow: rgb(51, 54, 69) 2px 2px 2px,
                azure 2px 2px 2px 2px;       
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            &:hover{
                transform: scale(1.5);
            }
        }
        @media (min-width: 480px){
            width: 70vw;
            img{
                max-width: 80px;
                &:hover{
                    transform: scale(1.3);
                }
            }
        }
        @media (min-width: 768px){
            width: 60vw;
            img{
                max-width: 100px;
                &:hover{
                    transform: scale(1.4);
                }
            }
        }
    }
}